body{
  background-color: #777;
  background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAQAAABuBnYAAAAAU0lEQVQIHQXBwRGDIBAAwO2/AMcCDHAcPjIRxjJ8Je1kl1uqUgphsWu6w0sIG6npLpcUBql4e/wsVRKabrkNTacIYbMrwsF06rqUhsnXVKVT+Hj+Ue4rPSONk4kAAAAASUVORK5CYII=);
  padding-top: 0px;
}
header{
	margin-bottom: 10px;
}
.bot {
	margin-left: 10px;
}
.center {
	text-align: center;
}
.playerdisplay {
	background-color: black;
}

.playerdisplay div div {
	text-align:center;
}

#p1, #scoreP1{
	color:#ff1493;
	display: inline-block;
	font-size: 20px;
	font-weight: bold;
}
#p2 , #scoreP2{
	color:blue;
	display: inline-block;
	font-size: 20px;
	font-weight: bold;
}

}
#scoreP1, #scoreP2 {
	margin-left: 10px;
}
.img-fluid {
border-radius: 15px;
border-style: solid;
border-color: white;
}

#fyraIRad {
	background-color: #3d3d3d;
	display: inline-block;
}
.regcardbody {
	padding:0;
	
}



.colu {
	width: 80px;
	height: 80px;
	/*Gör så att våra col inte samlas imitten */
	display: inline-block;
	/* Skapar en spel form som ser ut som 4 i rad med alla cirklar */
	background-color: black;
	/*Gör så att det blir cirklar*/
	
	/* Behövs för att fylla ut alla cirklar så att det inte finns vissa tomma mellanrum mellan dom*/
	margin:5px;
}

.hover-player1 {
	background-color: #ff1493;
	opacity: 0.5;
}
.hover-player2 {
	background-color: blue;
	opacity: 0.5;
}
.colu.player1 {
	background-color: #ff1493;
}

.colu.player2 {
	background-color: blue;
}
/*När man har sin mus på en tom cell så kommer musen bli en pointer*/
.colu.tom {
	cursor: crosshair;
}

{ 
    transform-origin:50% 50%;
    animation:2s rotateRight infinite linear; 
    background-color:transparent;
    width: 30px;
    height: 30px;
}

@keyframes rotateRight{
    100%{ transform:rotate(360deg); }
}
#startaOm {
	color: white;

}
#bToHome {
	width: 230px;
	height: 50px;
	background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAQAAABuBnYAAAAAU0lEQVQIHQXBwRGDIBAAwO2/AMcCDHAcPjIRxjJ8Je1kl1uqUgphsWu6w0sIG6npLpcUBql4e/wsVRKabrkNTacIYbMrwsF06rqUhsnXVKVT+Hj+Ue4rPSONk4kAAAAASUVORK5CYII=);
	border-top-left-radius: 40px;
	color:white;
	
}



/*phone standing*/
@media screen and (max-width: 400px) {
    .colu {
	width: 37px;
	height: 37px;
	/*Gör så att våra col inte samlas imitten */
	display: inline-block;
	/* Skapar en spel form som ser ut som 4 i rad med alla cirklar */
	background-color: black;
	/*Gör så att det blir cirklar*/
	
	/* Behövs för att fylla ut alla cirklar så att det inte finns vissa tomma mellanrum mellan dom*/
	margin:5px;
    }
    .playerdisplay {
	background-color: transparent;
	}
    #startaOm {
	
	color:white;
	
	
	}
	#bToHome {
		width: 155px;
		height: 50px;
		color:white;
		background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAQAAABuBnYAAAAAU0lEQVQIHQXBwRGDIBAAwO2/AMcCDHAcPjIRxjJ8Je1kl1uqUgphsWu6w0sIG6npLpcUBql4e/wsVRKabrkNTacIYbMrwsF06rqUhsnXVKVT+Hj+Ue4rPSONk4kAAAAASUVORK5CYII=);
		border-top-left-radius: 40px;
		
	}
	.hover-player1 {
	background-color: black;
	opacity: 1;
	}
	.hover-player2 {
	background-color: black;
	opacity: 1;
	}
	
}
/* Phone tilted*/
@media screen and (max-width: 700px) {
    .colu {
	width: 37px;
	height: 32px;
	/*Gör så att våra col inte samlas imitten */
	display: inline-block;
	/* Skapar en spel form som ser ut som 4 i rad med alla cirklar */
	background-color: black;
	/*Gör så att det blir cirklar*/
	
	/* Behövs för att fylla ut alla cirklar så att det inte finns vissa tomma mellanrum mellan dom*/
	margin:2px;
    }
    #startaOm {
	
	color:white;
		
	}
	#bToHome {
		width: 140px;
		height: 33px;
		color:white;
		background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAQAAABuBnYAAAAAU0lEQVQIHQXBwRGDIBAAwO2/AMcCDHAcPjIRxjJ8Je1kl1uqUgphsWu6w0sIG6npLpcUBql4e/wsVRKabrkNTacIYbMrwsF06rqUhsnXVKVT+Hj+Ue4rPSONk4kAAAAASUVORK5CYII=);
		border-top-left-radius: 40px;
		
	}
	.hover-player1 {
	background-color: black;
	opacity: 1;
	}
	.hover-player2 {
	background-color: black;
	opacity: 1;
	}

}





.comment{

	height:80%;
	width:80%;
}





