body{
text-align: center;
}




.img-fluid {
border-radius: 15px;
border-style: solid;
border-color: white;
}

#fyraIRad {
	background-color: #3d3d3d;
	display: inline-block;
}

#scoreP1 {
	margin-right: 40px;
}

.col {
	width: 80px;
	height: 80px;
	/*Gör så att våra col inte samlas imitten */
	display: inline-block;
	/* Skapar en spel form som ser ut som 4 i rad med alla cirklar */
	background-color: black;
	/*Gör så att det blir cirklar*/
	
	/* Behövs för att fylla ut alla cirklar så att det inte finns vissa tomma mellanrum mellan dom*/
	margin:8px;
}

.hover-player-1 {
	background-color: #ff1493;
	opacity: 0.6;
}
.hover-player-2 {
	background-color: blue;
	opacity: 0.6;
}
.col.player-1 {
	background-color: #ff1493;
}
.col.player-2 {
	background-color: blue;
}
/*När man har sin mus på en tom cell så kommer musen bli en pointer*/
.col.tom {
	cursor: crosshair;
}
#startaOm {
	margin-top: 5px;
}

{ 
    transform-origin:50% 50%;
    animation:2s rotateRight infinite linear; 
    background-color:transparent;
    width: 30px;
    height: 30px;
}

@keyframes rotateRight{
    100%{ transform:rotate(360deg); }
}
#startaOm {
	width: 337.5px;
	height: 50px;
	background-color: #4f8ff7;
	border-top-left-radius: 40px;
}
#starta0m {
	width: 337.5px;
	height: 50px;
	background-color: #4f8ff7;
	border-top-right-radius: 40px;
}